node_modules/
.env
.env.*
.env.local
.env.production
.env.development

# frontend builds
frontend/node_modules/
frontend/dist/
frontend/build/

# backend builds
backend/node_modules/
backend/dist/

# system files
.DS_Store
Thumbs.db

# logs
*.log
